 body, html {
  background: rgb(247, 247, 247);
 }

.app {
  padding: 12px;
}

.checkout-button-wrapper {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}