 body, html {
  background: rgb(247, 247, 247);
 }

 .store-name {
   margin: 16px;
 }
.checkout-button-wrapper {
    position: fixed;
    bottom: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
}